<div class="aria-checkbox">
    <h2>Choose some colors</h2>

    <div class="checkbox" role="checkbox" aria-checked="false" tabindex="0">
        Green
    </div>
    <div class="checkbox" role="checkbox" aria-checked="false" tabindex="0">
        Red
    </div>
    <div class="checkbox" role="checkbox" aria-checked="false" tabindex="0">
        White
    </div>
</div>

<script>
    (function () {
        const checkboxes = document.querySelectorAll('.checkbox');

        checkboxes.forEach(check => {
            check.addEventListener('click', function () {
                const expanded = this.getAttribute("aria-checked");
                expanded === "true" ? this.setAttribute("aria-checked", "false") : this.setAttribute("aria-checked", "true");
            });

            check.addEventListener('keydown', function (e) {
                    if (e.key === ' ') e.preventDefault();
                });
            check.addEventListener('keyup', function (e) {
                e.preventDefault();
                e.stopPropagation();
                if (e.key === ' ') {
                    const expanded = this.getAttribute("aria-checked");
                    expanded === "true" ? this.setAttribute("aria-checked", "false") : this.setAttribute("aria-checked", "true");
                }
            });
        })
    })()
</script>
