<div class="images">
    <h2>Search icon</h2>
    <button class="box-search"><img src="./../../img/search.svg" alt="Search"></button>
    <hr>
    <h2>Menu icon</h2>
    <button class="btn-transparent"><img class="clickable-menu" src="./../../img/menu.svg" alt="Menu"></button>

</div>
