<div class="images">
    <h2>Without <code>alt</code> attribute (Do not do this)</h2>
    <img class="decorative-img-alt" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" >

    <hr>

    <h2>Empty <code>alt</code> attribute</h2>
    <img class="decorative-img-alt" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" alt="">

    <hr>

    <h2>Image from CSS</h2>
    <div class="decorative-img-css"></div>

    <hr>

    <h2>Using <code>role="presentation"</code></h2>
    <img class="decorative-img-aria" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" role="presentation">

    <hr>

    <p>Note: Please note that while ARIA can be used as a solution in certain cases, it is always preferable to prioritize the use of native HTML elements whenever possible. Native HTML provides built-in accessibility features and semantic meaning, ensuring better accessibility without relying heavily on ARIA attributes</p>

</div>
