<div class="images">
    <h2>Empty alt</h2>
    <img class="decorative-img-alt" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" alt="">

    <hr>

    <h2>Image from CSS</h2>
    <div class="decorative-img-css"></div>

    <hr>

    <h2>Using ARIA</h2>
    <img class="decorative-img-aria" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" role="presentation">
    
</div>
