<div id="description-extended">
    <p>The results for the survey to discover what is the favorite fruit for the students are:
    <ul class="ps-5">
        <li>Banana: 6 students</li>
        <li>Apple: 5 students</li>
        <li>Orange: 4 students</li>
        <li>Strawberry: 10 students</li>
        <li>Kiwi: 3 students</li>
        <li>Grapes: 1 students</li>
    </ul>
</div>
