html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: $dark;
	font-family: $font-family-sans;
	margin: 0;
	min-height: 100vh;
	position: relative;
}



header {
	background: $light;
	div {
		max-width: 1200px;
		display: flex;
		align-items: center;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 1.5rem;
		text-align: center;
		justify-content: space-between;
		margin: auto;
		height: 75px;
	}
}

.navigation-header {

	ul {
		list-style-type: none;
		display: flex;
		gap: 20px;
	}

}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $light;
	height: 100px;
	font-size: 1rem;
	// position: absolute;
	bottom: 0;
	width: 100%;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
}

.d-block {
	display: block;
}

:focus-visible {
	outline: 3px solid #d33a2c;
	outline-offset: 2px;
}

.visually-hidden-custom:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.btn-yellow {
	border: 1px solid;
	background: #FCC303;
	color: #222;
	padding: 8px 12px;

	&:hover,
	&:focus {
		background: #000;
		color: #fff;
	}

	&[aria-expanded="true"] {
		background:#000;
		border-color: blue;
		color: #fff;
	}
}

.btn-transparent {
	background-color: transparent;
	border: 0;
}

hr {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

