.focus-management {
  .paragraph-section {
    p:focus {
      outline: 3px solid #d33a2c;
      outline-offset: 2px;
    }
  }
  .options {
    ul {
      display: flex;
      justify-content: space-around;
      height: 50px;
      background-color: #f4f4f4;
      align-items: center;
      font-size: 1.125rem;
      list-style: none;
      box-shadow: 0 0 8px #BBB;
      border-bottom: 1px solid #AAA;
    }
  }

  &.focus-outline {
    :focus-visible {
      outline: -webkit-focus-ring-color auto 5px;
      //outline: 0;
    }

/*    :focus {
      outline: -webkit-focus-ring-color auto 5px;
    }*/

    .btn-yellow {

      &:hover,
      &:focus {
        background: #FCC303;
        color: #222;
      }
    }
  }

  &.tab-index-example {
    .wrapper {
      height: 100%;
      display: flex;
    }

    #side-nav-label {
      display: block;
      border-bottom: 1px solid #e0e0e0;
      padding: 15px 0 15px 22px;
      font-weight: 700;
    }

    nav {
      background: white;
      min-width: 200px;
      border-right: 1px solid #e0e0e0;
      ul {
        list-style: none;
      }
    }

    nav a {
      display: block;
      padding: 15px 0 15px 22px;
      text-decoration: none;
      color: black;
      font-weight: 700;
    }

    nav a:hover {
      background: black;
      color: white;
    }
  }

  &.modal-focus-content {
    .modal-1, .modal-2, .modal-initial, .modal-solution {
      width: 50%;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
      background-color: #fff;
      z-index: 3; /* places the modal on top of everything */
      position: fixed;
      top: 25%;
      left: 25%;
      display: none;
    }

    .modal-overlay {
      width: 100%;
      height: 100%;
      z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
      background-color: #000;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      margin: 0;
      padding: 0;
    }

    .field {
      display: inline-block;
      vertical-align: bottom;
    }

    label {
      display: block;
      margin-bottom: 4px;
    }

  }

  .bad-dropdown {
    position: relative;

    #bad_dropdown_btn {
      width: fit-content;
    }
    .dropdown-content {
      position: absolute;
      top: -150vh;
      left: 0;
      background: #FFFFFF;
      display: flex;
      gap: 10px;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      list-style: none;
      padding: 20px !important;
      z-index: 3;
      &.open {
        top: 50px;
      }

      a {
        color: black;
      }
    }
  }
}

.content-order {

  /*Form*/

  form {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: inline-block;
    background: white;
    border: 5px solid black;
    padding: 18px;
  }

  .line {
    display: flex;
    margin: 10px;
  }

  .line > * {
    margin: 4px;
  }

  .line-1 {
    order: 3;
  }

  .line-2 {
    order: 2;
  }

  .line-3 {
    order: 1;
  }

  button {
    order: 4;
  }

}
