@mixin scrolling-animation($name, $start, $end) {
  @keyframes #{$name} {
    0% {
      transform: translateX(#{$start});
    }
    100% {
      transform: translateX(#{$end});
    }
  }
}

.reduce-motion {
  .scrolling-text-container {
    overflow: hidden;
  }

  .scrolling-text {
    white-space: nowrap;
    color: #006CFF;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0;
    font-weight: normal;
  }

  .scrolling-text-1 {
    animation: scrolling 5s linear infinite;
    @extend .scrolling-text;
  }

  .scrolling-text-2 {
    animation: scrolling-2 10s linear infinite;
    @extend .scrolling-text;
  }

  .scrolling-text-3 {
    animation: scrolling-3 15s linear infinite;
    @extend .scrolling-text;
  }

  @include scrolling-animation('scrolling', '100%', '-200%');
  @include scrolling-animation('scrolling-2', '100%', '-200%');
  @include scrolling-animation('scrolling-3', '100%', '-200%');

  @media (prefers-reduced-motion: reduce) {
    .scrolling-text {
      animation: none;
      font-size: 1.3rem;
      line-height: 1.5;
      white-space: normal;
    }
  }

  .disable-animation {
    animation: none !important;
    transform: translateX(0) !important;
    font-size: 1.3rem !important;
    line-height: 1.5 !important;
  }
}

.wallpaper {
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
}

.zoom {

  .font-16 {
    font-size: 16px;
  }
  .card-container {
    @media (min-width: 768px) {
      display: flex;
    }

    .fixed-card {
      padding: 10px;
      height: 185px;
      border: #0C1932 2px solid;
      margin-bottom: 5rem;
      width: 100%;
      @media (min-width: 768px) {
        width: 500px;
        height: 150px;
        margin-bottom: 0;
      }
    }

    .card-zoom {
      border: #0C1932 2px solid;
      padding: 10px;
      width: 100%;
      margin-bottom: 5rem;
      @media (min-width: 768px) {
        width: 500px;
        margin-bottom: 0;
      }

      .font-vw {
        font-size: 4.2vw;
        @media (min-width: 768px) {
          font-size: 1.2vw;
        }
      }
    }
  }

}

.target-size {
  .pagination {
    display: flex;
    list-style: none;

    &.version-1 {
      li {
        margin: 2px;
      }
      a {
        line-height: 1.5;
        color: #000;
        display: block;
        text-decoration: none;
        padding: 0.6875rem 1.125rem;
      }

      [aria-current="page"] {
        background-color: #0C1932;
        border-radius: 50%;
        color: white;
        text-decoration: underline;

      }
    }
    &.version-2 {
      li {
        margin: 2px;
        padding: 0;
      }
      a {
        line-height: 1.5;
        color: #000;
        display: block;
        text-decoration: none;
        margin: 0.6875rem 1.125rem;
        padding: 0;
      }

      .active {
        background-color: #0C1932;
        border-radius: 50%;
      }
      [aria-current="page"] {
        color: white;
        text-decoration: underline;

      }
    }

  }
}

