.show-and-hide {
  .toogle {
    @extend .btn-yellow;
  }

  .invisible {
    max-height: 0;
  }
  #off_screen {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in-out;
  }

  [aria-expanded="true"] + #off_screen {
    visibility: visible;
    max-height: 500px;
  }

  [aria-expanded="false"] + #off_screen_absolute {
    top: -100vw;
    position: absolute;
  }

  [aria-expanded="false"] + #visually_hidden {
    @extend .visually-hidden-custom;
  }


  .content-d-none {
    display: none;
  }

  [aria-expanded="true"] + .content-d-none {
    display: block;
  }

  .star {
    width: 30px;
  }

  .search {
    text-decoration: none;
    color: #0C1932;
    display: flex;
    align-items: center;
    gap: 5px;
  }


  .bad-dropdown {
    position: relative;

    .dropdown-content {
      position: absolute;
      top: -150vh;
      left: 0;
      background: #FFFFFF;
      display: flex;
      gap: 10px;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      list-style: none;
      padding: 20px !important;
      z-index: 2;
      &.open {
        top: 50px;
      }

      a {
        color: black;
      }
    }
  }
}
