.switch-control {
  .toggle-switch, .toggle-switch .toggle-knob {
    transition: all 0.2s ease-in;
  }
  .toggle-switch {
    height: 40px;
    width: 82px;
    display: inline-block;
    background-color: #333333;
    margin: 6px;
    margin-bottom: 15px;
    border-radius: 90px;
    cursor: pointer;
    text-align: left;
  }
  .toggle-switch .toggle-knob {
    width: 42px;
    height: 38px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 78px;
    margin: 1px 5px;
  }
  .toggle-switch.active {
    background-color: green;
  }
  .toggle-switch.active .toggle-knob {
    margin-left: 36px;
  }
}

.accessible-names {
  .feather-external-link {
    margin-left: 5px;
    vertical-align: top;
  }

  #pwd-detail {
    display: inline-block;
    font-size: 14px;
  }
}

.aria-buttons {
  .btn-yellow {
    width: fit-content;
  }
}

.aria-links {
  .fake-link {
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
  }
}
