<div class="lists">
    <h2 class="mb-4">List with divs</h2>

    <div class="list-container">
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Apple</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Orange</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Peach</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Grapes</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Watermelon</div>
        </div>
    </div>

    <hr>

    <h2>Unordered list without bullets</h2>

    <ul class="ps-4 mt-3" style="list-style: none">
        <li>Apple</li>
        <li>Orange</li>
        <li>Peach</li>
        <li>Grapes</li>
        <li>Watermelon</li>
    </ul>
</div>
