<div class="lists">
    <h2 class="mb-4">List with divs</h2>

    <div class="list-container">
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Apple</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Orange</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Peach</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Grapes</div>
        </div>
        <div class="list-item">
            <div class="bullet"></div>
            <div class="item-text">Watermelon</div>
        </div>
    </div>
</div>
