<h2>Unordered list</h2>

<ul class="ps-4 mt-3">
    <li>Apple</li>
    <li>Orange</li>
    <li>Peach</li>
    <li>Grapes</li>
    <li>Watermelon</li>
</ul>
<hr>

<h2>Ordered list</h2>

<ol class="mt-3">
    <li>India</li>
    <li>Australia</li>
    <li>South Africa</li>
    <li>New Zealand</li>
    <li>Pakistan</li>
    <li>Srilanka</li>
    <li>West Indies</li>
    <li>Bangladesh</li>
</ol>


<hr>

<h2>Unordered list without bullets</h2>

<ul class="ps-4 mt-3" style="list-style: none">
    <li>Apple</li>
    <li>Orange</li>
    <li>Peach</li>
    <li>Grapes</li>
    <li>Watermelon</li>
</ul>
