<div class="accessible-names" lang="en">
    <h2><code>aria-label</code></h2>
    <button class="btn-transparent mb-4 d-block">
        <svg viewBox="0 0 100 80" width="40" height="40" role="img" aria-hidden="true">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>
    </button>

    <a href="#">
        See more
    </a>
    <hr>

    <h2><code>label</code></h2>
    <h3 id="title" class="mt-4">Personal data</h3>
    <form>
        <span class="label-input">Name</span>
        <input type="text" autocomplete="name" id="name">
        <button class="btn-yellow ml-2">Save</button>
    </form>

    <hr>

    <h2>Hidden <code>label</code></h2>
    <form>
        <label for="hiddenLabelName" class="d-none">Name</label>
        <input type="text" autocomplete="name" id="hiddenLabelName" placeholder="Enter your full name">
        <button class="btn-yellow ml-2">Save</button>
    </form>

    <hr>

    <h2><code>aria-labelledby</code></h2>
    <h3 id="title-1" class="mt-4">Professional data</h3>
    <form>
        <span class="label-input">Name</span>
        <input type="text" autocomplete="name" id="labelName">
        <button class="btn-yellow ml-2" id="save">Save</button>
    </form>


    <hr>

    <h2><code>aria-describedby</code></h2>
    <form class="mt-4">
        <label for="pwd">Password</label>
        <input type="password" autocomplete="current-password" id="pwd">
        <p id="pwd-detail">The password must have 10 characters</p>
    </form>

    <form action="#" class="accessible-names-exercise mb-5">
        <div class="form-group">
            <label class="d-block" for="label">Phone</label>
            <span class="help-text" id="help">Include area code</span>
            <input class="input" id="label" type="text">
            <span class="error-message">Error: Include area code</span>
        </div>
    </form>

    <!-- id: open_new_window  -->
    <a href="https://lisbondigitalschool.com/" target="_blank" >Lisbon Digital School
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-external-link" aria-hidden="true">
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
    </a>



    <hr>
    <h2>Which one wins?</h2>

    <div>
        <button class="btn-yellow my-3" aria-label="One" title="Four" aria-labelledby="numberHidden">Two</button>
        <p class="d-none" id="numberHidden">Three</p>
    </div>

    <button class="mt-3 btn-transparent d-block">
        <img src="./../../img/search.svg" alt="What">
        <span class="visually-hidden">are</span>
        <span aria-label="you"></span>
        <span aria-labelledby="aaa"></span>
        <span title="for?"></span>
    </button>

    <p id="aaa" style="display: none;">looking</p>

    <hr>

    <h2>Mismatch between name and label</h2>
    <a href="https://lisbondigitalschool.com/" target="_blank" aria-label="Click to see more about our courses">
        See more
    </a>

    <hr>

    <h2>Over-using aria</h2>
    <button class="btn-yellow" aria-label="Save">Save</button>

    <hr>

    <h2>Unnecessary "button" text</h2>
    <button class="btn-yellow" aria-label="Save button">Save</button>

</div>
