<form action="#" class="accessible-names-exercise">
    <div class="form-group">
        <label class="d-block" for="label">Phone</label>
        <span class="help-text" id="help">Include area code</span>
        <input class="input" id="label" type="text" aria-describedby="help error">
        <span class="error-message" id="error">Error: Include area code</span>
    </div>
</form>


