<section class="container show-and-hide mt-4">
    <div class="mt-4 mb-5">
        <hr/>
        <h2 class="mb-3">Esconder visualmente</h2>
        <a href="#">
            Ler mais
            <span class="visually-hidden-custom">
                sobre como esconder elementos só visualmente
              </span>
        </a>

        <div class="mt-4">
            <a href="#s" class="visually-hidden-custom">
                Saltar para conteúdo principal
            </a>
        </div>
    </div>
</section>
