<section class="show-and-hide">
    <div>
        <h2 class="mb-3">Using <code>display:none</code></h2>
        <div>
            <button type="button" id="toggle" aria-expanded="false" class="toogle">
                Book 1
            </button>

            <div class="content-d-none">
                <p class="mt-3">
                    Lorem ipsum dolor sit amet. Non nisi necessitatibus sit iusto dolor est excepturi ipsam ab accusamus
                    eveniet et
                    tempora reprehenderit sed illum tenetur. Ut tempora nulla eos molestiae autem et cupiditate numquam
                    sed
                    architecto doloremque qui dignissimos accusantium ex ullam tenetur.
                </p>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
        <p class="d-none">display:none paragraph</p>
        <div>
            <hr>
            <h2 class="mb-3">Using <code>visibility:hidden</code></h2>
            <button type="button" class="toogle" aria-expanded="false">
                Book 2
            </button>
            <div id="off_screen">
                <p class="mt-3">
                    Lorem ipsum dolor sit amet. Non nisi necessitatibus sit iusto dolor est excepturi ipsam ab accusamus
                    eveniet et tempora reprehenderit sed illum tenetur. Ut tempora nulla eos molestiae autem et
                    cupiditate numquam sed architecto doloremque qui dignissimos accusantium ex ullam tenetur.
                </p>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>

        </div>
        <hr>
        <div>
            <h2 class="mb-3">Using off-screen content - Problem</h2>
            <button type="button" aria-expanded="false" class="toogle">
                Book 3
            </button>
            <div id="off_screen_absolute">
                <p class="mt-3">
                    Lorem ipsum dolor sit amet. Non nisi necessitatibus sit iusto dolor est excepturi ipsam ab accusamus
                    eveniet et tempora reprehenderit sed illum tenetur. Ut tempora nulla eos molestiae autem et
                    cupiditate numquam sed architecto doloremque qui dignissimos accusantium ex ullam tenetur.
                </p>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
        <hr>
        <div>
            <h2 class="mb-3">Using <code>visually-hidden</code> class - Problem</h2>
            <button type="button" aria-expanded="false" class="toogle">
                Book 4
            </button>
            <div id="visually_hidden">
                <p class="mt-3">
                    Lorem ipsum dolor sit amet. Non nisi necessitatibus sit iusto dolor est excepturi ipsam ab accusamus
                    eveniet et tempora reprehenderit sed illum tenetur. Ut tempora nulla eos molestiae autem et
                    cupiditate numquam sed architecto doloremque qui dignissimos accusantium ex ullam tenetur.
                </p>
            </div>
        </div>

    </div>
</section>
<script>
    // toggle
    (function () {
        const buttons = document.querySelectorAll("button");

        buttons.forEach((btn) => {
            btn.addEventListener('click', function () {
                const expanded = this.getAttribute("aria-expanded");
                expanded === "true" ? this.setAttribute("aria-expanded", "false") : this.setAttribute("aria-expanded", "true");

            });
        })
    })()
</script>


<script>
    // Dropdown
    (function () {
        const dropdown = document.getElementById("bad_dropdown_btn");
        const dropdownContent = document.getElementById("bad_dropdown_content");

        dropdown.addEventListener('click', function () {
            const expanded = this.getAttribute("aria-expanded");
            expanded === "true" ? this.setAttribute("aria-expanded", "false") : this.setAttribute("aria-expanded", "true");
            dropdownContent.classList.toggle("open");
        });
    })()
</script>
