<div class="focus-management modal-focus-content">
    <div class="modal-wrapper modal-1" role="dialog" aria-modal="true" aria-labelledby="title-modal" tabindex="-1">
        <div class="d-flex justify-content-between align-items-center">
            <h1 id="title-modal">Add personal data</h1>
            <button aria-label="Close" class="btn-transparent p-3" id="close-modal">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </button>
        </div>
        <div class="d-flex flex-column gap-3">
            <div class="field">
                <label for="fullname">Full name</label>
                <input id="fullname" type="text">
            </div>
            <div class="field">
                <label for="profession2">Profession</label>
                <input id="profession2" type="text">
            </div>
            <button class="btn-yellow signup">Register</button>
        </div>
    </div>


    <div class="modal-wrapper modal-2" role="dialog" aria-labelledby="title-modal2" tabindex="-1">
        <div class="d-flex justify-content-between align-items-center">
            <h1 id="title-modal2">Add personal data</h1>
            <button aria-label="Close" class="btn-transparent p-3" id="close-modal-2">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </button>
        </div>
        <div class="d-flex flex-column gap-3">
            <div class="field">
                <label for="fullname2">Full name</label>
                <input id="fullname2" type="text">
            </div>
            <div class="field">
                <label for="profession">Profession</label>
                <input id="profession" type="text">
            </div>
            <button class="btn-yellow signup">Register</button>
        </div>
    </div>

    <div class="modal-wrapper modal-3" role="dialog" aria-modal="true" aria-labelledby="title-modal3" tabindex="-1">
        <div class="d-flex justify-content-between align-items-center">
            <h1 id="title-modal3">Detail offer</h1>
            <svg id="close-modal-3" tabindex="0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        </div>
        <p>Lorem ipsum dolor sit amet. Aut temporibus architecto qui distinctio asperiores et voluptatem debitis. Vel rerum asperiores sit exercitationem perspiciatis id culpa beatae. Quo obcaecati cumque est magnam voluptas hic ipsam quia a quidem consequatur!
            Qui omnis sunt rem itaque placeat ea consectetur enim cum magnam libero. In quisquam fugiat et voluptatem delectus ut eius iusto et libero eius in dolores recusandae est cumque ullam.
            Aut aperiam quod qui repudiandae facilis ut eligendi fuga qui tempora nulla eum doloremque galisum aut mollitia illo eum quos minus? Ex galisum magnam et repellat vitae eum suscipit quaerat sed quia dicta in illum blanditiis vel blanditiis sequi.
        </p>
    </div>

    <div class="modal-overlay"></div>
</div>
