<div class="tests">
    <h2 id="title-1" class="mt-5">Personal data</h2>
    <form>
        <label for="labelName">Name</label>
        <input type="text" autocomplete="name" id="labelName">
        <button class="btn-yellow ml-2" id="save" aria-labelledby="save title-1">Save</button>
    </form>

    <hr>

    <h2 id="title-1" class="mt-5">Account details</h2>
    <form>
        <label for="labelName">Account</label>
        <input type="text" autocomplete="username" id="labelName">
        <button class="btn-yellow ml-2" id="save" aria-labelledby="save title-1">Save</button>
    </form>

    <hr>

    <h2 id="title-animal">Cat</h2>
    <img src="./../../img/cat.jpg" aria-labelledby="title-animal" class="mb-5 wallpaper">

    <h2 id="title-animal">Dog</h2>
    <img src="./../../img/dog.jpg" aria-labelledby="title-animal" class="wallpaper">
</div>
