<!--
<h2>
    <span class="fw-bold d-block">MALM</span>
    <span>Bed frame</span>
</h2>
-->
<h2 class="fw-bold">MALM</h2>
<p>Bed frame</p>
<p class="d-block">
    <del aria-hidden="true">219€</del>
    <!--<span class="visually-hidden-custom">Price was: 219€</span>-->
</p>
<p class="d-block display-6 fw-bold">
    <span aria-hidden="true">199€</span>
   <!-- <span class="visually-hidden-custom">Price: 199€</span>-->
</p>
<p>Price valid from Oct 8 to Nov 9 or while supplies last.</p>

<img src="./../../img/ikea_example.jpeg" alt="">
