<h2>
    <span class="fw-bold d-block">MALM</span>
    <span>Bed frame</span>
</h2>
    <p class="d-block">
        <del aria-hidden="true">219€</del>
        <span class="visually-hidden-custom">Price was: 219€</span>
    </p>
    <p class="d-block display-6 fw-bold">
        <span aria-hidden="true">199€</span>
        <span class="visually-hidden-custom">Price: 199€</span>
    </p>
<p>Price valid from Oct 8 to Nov 9 or while supplies last.</p>

<hr>

<p>Note: Be careful because not all the screen reader users are blind. The visible text should be the same as the accessible name</p>
