<section class="live-announcements">
    <h2 class="mb-3"><code>role:"status"</code></h2>
    <div id="polite-live-region" role="status" class="alert alert-success d-none"></div>
    <button class="polite-button btn-yellow">
        Show success message
    </button>

    <hr>

    <h2 class="mb-3"><code>role:"alert"</code></h2>
    <div id="assertive-live-region" role="alert" class="alert alert-danger d-none"></div>
    <button class="assertive-button btn-yellow">
        Show error message
    </button>

    <hr>

    <h2 class="mb-3"><code>role="log"</code></h2>
    <div class="chat-container" role="log" aria-label="Chat log" aria-atomic="true">
        <div class="user-message">
            User: Hello, Bot! How are you today?
        </div>
        <div class="bot-message">
            Bot: Hi there! I'm just a virtual assistant, but I'm doing well. How can I assist you today?
        </div>

    </div>
    <div class="d-flex mt-3 align-items-center gap-3 flex-wrap">
        <label for="user-input">User:</label>
        <input type="text" name="user" id="user-input">
        <button class="btn-yellow" onclick="sendMessage()">Send</button>
    </div>

</section>


<script>
    (function () {
        function politeExample(id) {
            const liveContainer = document.getElementById(id);
            liveContainer.innerHTML = '';
            liveContainer.append('Congratulations! You clicked the button successfully.');
            liveContainer.classList.toggle('d-none');
        }

        const politeButton = document.querySelector('.polite-button');
        politeButton.addEventListener('click', function () {
            politeExample('polite-live-region');
        });


        // Assertive example
        function assertiveExample(id) {
            const liveContainer = document.getElementById(id);
            liveContainer.innerHTML = '';
            liveContainer.append('Error: You did something wrong.');
            liveContainer.classList.toggle('d-none');
        }

        const assertiveButton = document.querySelector('.assertive-button');
        assertiveButton.addEventListener('click', function () {
            assertiveExample('assertive-live-region');
        });
    })();


    function sendMessage() {
        const userInput = document.getElementById("user-input").value;
        const chatContainer = document.querySelector(".chat-container");
        const userMessage = document.createElement("div");
        userMessage.className = "user-message";
        userMessage.textContent = "User: " + userInput;
        chatContainer.appendChild(userMessage);
        document.getElementById("user-input").value = "";
    }


</script>

