<div class="dark-mode">
    <form action="" method="post">
        <fieldset>
            <div>
                <legend>Theme</legend>

                <div>
                    <input id="system" name="theme" value="system" type="radio" checked="checked">
                    <label for="system" class="me-3">System</label>
                    <input id="light" name="theme" value="light" type="radio">
                    <label for="light" class="me-3">Light</label>
                    <input id="dark" name="theme" value="dark" type="radio">
                    <label for="dark" class="me-3">Dark</label>
                </div>
            </div>
        </fieldset>
    </form>

    <div>

    </div>

    <hr>
    <div>
        <h2>Images using <code>picture</code></h2>
        <picture>
            <source srcset="./../../img/shopping-cart-dark-mode.svg" media="(prefers-color-scheme: dark)" />
            <source srcset="./../../img/shopping-cart-light-mode.svg" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
            <img src="./../../img/shopping-cart-light-mode.svg" role="img" alt="Shopping Cart"/>
        </picture>
        <span id="cart">0</span> items
    </div>

    <hr>
    <div>
        <h2>SVG inline using <code>currentColor</code></h2>
        <svg role="img" aria-label="Shopping Cart" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
        </svg>
        <span id="cart">0</span> items
    </div>

    <hr>
    <h2>Image using filter on media query</h2>

    <div class="d-flex justify-content-center mt-5">
    <img src="./../../img/wallpaper.jpg" alt="">
    </div>
</div>


<script>

    function updateSourceMedia(colorPreference) {
        const pictures = document.querySelectorAll('picture');

        pictures.forEach(function (picture) {
            const sources = picture.querySelectorAll(
                    'source[media*="prefers-color-scheme"], source[data-media*="prefers-color-scheme"]'
            );

            sources.forEach(function (source) {
                // Save the source `media` as a data-attribute
                if (source && source.media.includes('prefers-color-scheme')) {
                    source.dataset.media = source.media;
                }

                if (source && source.dataset.media.includes(colorPreference)) {
                    source.media = 'all';
                }
                else if (source && colorPreference === 'system') {
                    source.media = source.dataset.media;
                }
                else if (source) {
                    source.media = 'none';
                }
            });
        });
    }

    const radioButtons = document.querySelectorAll('input[name="theme"]');
    const body = document.body;

    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', (event) => {

            const selectedTheme = event.target.value;
            body.classList.remove('system', 'light', 'dark');

            // Add the selected theme class to body
            body.classList.add(selectedTheme);
            updateSourceMedia(selectedTheme)
        });
    });
</script>

