<div class="reduce-motion">
    <div class="scrolling-text-container">
        <div class="scrolling-text-1">
            <p>Web accessibility ensures equal access and opportunity for people with disabilities.</p>
        </div>

        <div class="scrolling-text-2">
            <p>Accessible websites follow standards and guidelines to provide an inclusive user experience.</p>
        </div>

        <div class="scrolling-text-3">
            <p>Designing for accessibility benefits everyone and creates a more inclusive digital environment.</p>
        </div>
    </div>
</div>


<script>
/*    const mediaQuery = window.matchMedia('(prefers-reduced-motion: reduce)');
    mediaQuery.addEventListener('change', () => {
        console.log(mediaQuery.media, mediaQuery.matches);
        setReducedMotionStyles();
    });


    const setReducedMotionStyles = () => {
        document.querySelectorAll('.scrolling-text-1, .scrolling-text-2, .scrolling-text-3').forEach(el => {
            el.classList.toggle('disable-animation', mediaQuery.matches);
        })
    }

    setReducedMotionStyles();*/
</script>

