<div class="target-size">
    <h2 class="mb-4">Good target size</h2>
    <nav aria-label="Pagination good target size">
        <ul class="pagination version-1">
            <li><a href="#">Previous <span class="visually-hidden-custom">page</span></a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 1<span
                    class="visually-hidden-custom"> (first page)</span></a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 2</a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 3</a></li>
            <li><a href="#" aria-label="page 4" aria-current="page">4</a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 5<span
                    class="visually-hidden-custom"> (last page)</span></a></li>
            <li><a href="#">Next <span class="visually-hidden-custom">page</span></a></li>
        </ul>
    </nav>

    <hr>

    <h2 class="mb-4">Small target size</h2>
    <nav aria-label="Pagination Small target size">
        <ul class="pagination version-2">
            <li><a href="#">Previous <span class="visually-hidden-custom">page</span></a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 1<span
                    class="visually-hidden-custom"> (first page)</span></a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 2</a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 3</a></li>
            <li class="active"><a href="#" aria-label="page 4" aria-current="page">4</a></li>
            <li><a href="#"><span class="visually-hidden-custom">page</span> 5<span
                    class="visually-hidden-custom"> (last page)</span></a></li>
            <li><a href="#">Next <span class="visually-hidden-custom">page</span></a></li>
        </ul>
    </nav>
</div>
