<section class="aria-buttons">
    <div onclick="console.log('click')" class="btn-yellow">Save</div>
</section>

<!--
<script>
    const buttons = document.querySelectorAll('[role="button"]');

    buttons.forEach(function(button) {
        button.addEventListener('keyup', function(event) {
            if (event.key === 'Enter' || event.key === ' ') {
                button.click();
            }
        });
    });
</script>-->
