<section class="aria-links">
    <h2>Non semantic element</h2>
    <div onclick="window.location.href = 'https://lisbondigitalschool.com/'" class="fake-link">Lisbon Digital School</div>

    <hr>

    <h2>Semantic, but missing attributes</h2>
    <a onclick="window.location.href = 'https://lisbondigitalschool.com/'" class="fake-link">Lisbon Digital School</a>

</section>

<script>
/*    var links = document.querySelectorAll('[role="link"]');

    links.forEach(function(link) {
        link.addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                link.click();
            }
        });
    });*/
</script>
