<section class="container m-5 index-page">
    {{#each content}}
        <h2 class="mt-5">{{title}}</h2>
        <ul class="ms-5">
            {{#each options}}
                <li class="border-bottom border-dark list-links"><a href="{{link}}">{{label}}</a></li>
            {{/each}}
        </ul>
    {{/each}}
</section>
