<!DOCTYPE html>
<html lang="pt">
	<head>
		<title>Árvore de Acessibilidade</title>
		<link rel="icon" href="/img/favicon.ico">
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
    <header>
        <div>
            <span>Accessibilidade para developers</span>
            <nav class="navigation-header">
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
		{{{body}}}
		<script src="/js/main.js"></script>
    </main>
    <footer>
        © 2023 Curso acessibilidade para developers
    </footer>
	</body>
</html>
