<!DOCTYPE html>
<html lang="pt">
	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/favicon.ico">
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
    <header>
        <nav class="navigation-header">
            <span>Accessibilidade digital para developes</span>
        </nav>
    </header>
    <main>
		{{{body}}}
		<script src="/js/main.js"></script>
    </main>
    <footer>
        Acessibilidade ajuda a todos.
    </footer>
	</body>
</html>
