<section class="index-page">
{{#each options}}
        <h2 class="mt-5">{{label}}</h2>
        <ul class="ms-5">
            {{#each topics}}
                <li class="border-bottom border-dark list-links"><a href="{{link}}">{{label}}</a></li>
            {{/each}}
        </ul>
{{/each}}
</section>
