<div class="audit">
    <h2 class="mb-3">Plugins</h2>
    <ul>
        <li>
            <a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd" target="_blank" aria-describedby="open_new_window">
                axe DevTools
                <img src="./../../img/external.svg" role="presentation">
            </a>
        </li>
        <!--         <li>axe DevTools</li>
               <li>ARC Toolkit</li>
                <li>Accessibility Insights for Web</li>-->
    </ul>
    <hr>
    <h2 class="mb-3">Bookmark</h2>
    <ul>
        <li>
            <a href="https://squizlabs.github.io/HTML_CodeSniffer/" target="_blank" aria-describedby="open_new_window">
                HTML_CodeSniffer
                <img src="./../../img/external.svg" role="presentation">
            </a>
        </li>

        <li>
            <a href="https://thepaciellogroup.github.io/WAI-ARIA-Usage/WAI-ARIA_usage.html" target="_blank" aria-describedby="open_new_window">
                 WAI-ARIA Usage
                <img src="./../../img/external.svg" role="presentation">
            </a>
        </li>

        <li>
            <a href="https://codepen.io/stevef/full/YLMqbo" target="_blank" aria-describedby="open_new_window">
                 Text Spacing
                <img src="./../../img/external.svg" role="presentation">
            </a>
        </li>
    </ul>

    <hr>

    <h2 class="mb-3">Evaluation tools</h2>
    <ul>
        <!--<li>
            <a href="https://wave.webaim.org/" target="_blank" aria-describedby="open_new_window">
                Wave
                <img src="./../../img/external.svg" role="img" alt="">
            </a>
        </li>-->
        <li><a href="https://accessmonitor.acessibilidade.gov.pt/" target="_blank" aria-describedby="open_new_window">
            Access Monitor
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
        <li><a href="https://validator.w3.org/nu/" target="_blank" aria-describedby="open_new_window">
            W3 Validator
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
    </ul>

    <hr>

    <h2 class="mb-3">Color contrast</h2>
    <ul>
        <li>
            <a href="https://www.tpgi.com/color-contrast-checker/" target="_blank" aria-describedby="open_new_window">
                Colour Contrast Analyzer (CCA)
                <img src="./../../img/external.svg" role="presentation">
            </a>
        </li>
    </ul>

    <hr>
    <h2 class="mb-3">Emulate vision deficiencies</h2>
    <ul>
        <li>Google Chrome DevTools</li>
        <li>Firefox DevTools</li>
    </ul>

    <hr>

    <h2 class="mb-3">
        Manual tests</h2>
    <ul>
        <li>Keyboard and visual focus</li>
        <li>Page title</li>
        <li>Language page</li>
        <li>Zooming and scaling</li>
        <li>Accessible names</li>
        <li>Aria is being used appropriately</li>
        <li>Testing with Screen Reader</li>
        <li>Check animations</li>
        <li>Announcements and alerts</li>
        <li>Check background audio</li>
        <li>Identify and describe errors to users</li>
    </ul>

    <hr>

    <h2 class="mb-3">
        Checklists</h2>
    <ul>
        <li><a href="https://www.a11yproject.com/checklist/" target="_blank" aria-describedby="open_new_window">
            A11Y Project
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
        <li><a href="https://www.magentaa11y.com/web/" target="_blank" aria-describedby="open_new_window">
            Magentaa11y
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
    </ul>

    <hr>

    <h2 class="mb-3">
        WCAG</h2>
    <ul>
        <li><a href="https://la-va11ydette.orange.com/?lang=en" target="_blank" aria-describedby="open_new_window">
            The va11ydette
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
    </ul>

    <hr>

    <!--<h2 class="mb-3">
        Report</h2>
    <ul>
        <li><a href="https://racheleditullio.com/blog/2024/01/accessibility-testing-spreadsheet-version-2/" target="_blank" aria-describedby="open_new_window">
            Rachele DiTullio
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
        <li><a href="https://accessibility.huit.harvard.edu/template-reporting-accessibility-issues" target="_blank" aria-describedby="open_new_window">
            Harvard University
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
        <li><a href="https://beinclusive.app/" target="_blank" aria-describedby="open_new_window">
            Be Inclusive
            <img src="./../../img/external.svg" role="presentation">
        </a></li>
    </ul>-->

</div>
