<div class="audit">
    <h2 class="mb-3">Plugins</h2>
    <ul>
        <li>axe DevTools</li>
        <li>ARC Toolkit</li>
        <li>Accessibility Insights for Web</li>
        <li>Lighthouse</li>
        <li>HTML_CodeSniffer</li>
    </ul>

    <hr>

    <h2 class="mb-3">Evaluation tools</h2>
    <ul>
        <li>
            <a href="https://wave.webaim.org/" target="_blank" aria-describedby="open_new_window">
                Wave
                <img src="./../../img/external.svg" role="img" alt="">
            </a>
        </li>
        <li><a href="https://accessmonitor.acessibilidade.gov.pt/" target="_blank" aria-describedby="open_new_window">
            Access Monitor
            <img src="./../../img/external.svg" role="img" alt="">
        </a></li>
    </ul>

    <hr>

    <h2 class="mb-3">Color contrast</h2>
    <ul>
        <li>Colour Contrast Analyzer (CCA)</li>
    </ul>

    <hr>

    <h2 class="mb-3">Manual tests</h2>
    <ul>
        <li>Keyboard and visual focus</li>
        <li>Page title</li>
        <li>Language page</li>
        <li>Zooming and scaling</li>
        <li>Image alternative text is meaningful</li>
        <li>Aria is being used appropriately</li>
        <li>Descriptive content, links, buttons</li>
        <li>Testing with Screen Reader</li>
        <li>Check animations</li>
        <li>Announcements and alerts</li>
        <li>Check background audio</li>
        <li>Identify and describe errors to users</li>
    </ul>

</div>
