<p lang="en"><q>Ensuring accessibility is a fundamental principle of inclusive design, striving to provide equal opportunities and full participation for individuals with disabilities.</q></p>
<p lang="pt"><q>Garantir a acessibilidade é um princípio fundamental do design inclusivo, que se esforça para oferecer oportunidades iguais e participação plena para todas as pessoas.</q></p>
<p lang="es"><q>Garantizar la accesibilidad es un principio fundamental del diseño inclusivo, que se esfuerza por brindar igualdad de oportunidades y plena participación a las personas con discapacidad.</q></p>
<p lang="de"><q>Die Gewährleistung der Barrierefreiheit ist ein grundlegendes Prinzip der inklusiven Gestaltung, das darauf abzielt, Menschen mit Behinderungen gleiche Chancen und volle Teilhabe zu bieten.</q></p>
