<p lang="en">Ensuring accessibility is a fundamental principle of inclusive design, striving to provide equal opportunities and full participation for individuals with disabilities.</p>
<p lang="pt">Garantir a acessibilidade é um princípio fundamental do design inclusivo, que se esforça para oferecer oportunidades iguais e participação plena para todas as pessoas.</p>
<p lang="es">Garantizar la accesibilidad es un principio fundamental del diseño inclusivo, que se esfuerza por brindar igualdad de oportunidades y plena participación a las personas con discapacidad.</p>


<p lang="en"><q>quotations marks</q></p>
<p lang="pt"><q>quotations marks</q></p>
<p lang="es"><q>quotations marks</q></p>
<p lang="de"><q>quotations marks</q></p>
