<p lang="en"><q>Ensuring accessibility is a fundamental principle of inclusive design, striving to provide equal opportunities and full participation for individuals with disabilities.</q></p>
<p lang="pt"><q>Garantir a acessibilidade é um princípio fundamental do design inclusivo, que se esforça para oferecer oportunidades iguais e participação plena para todas as pessoas.</q></p>
