<div class="otherSemanticElements">
    <h2>Highlighting</h2>

    <p>The verb is highlighted in the sentence below:</p>
    <p>The team
        <mark>collaborated</mark>
        effectively to achieve their goals.
    </p>
</div>
