<h2>Strong only</h2>
<strong>Get exclusive deals and discounts today!</strong>

<hr>

<h2>Strong plus visually hidden text</h2>

<p>
    <span class="visually-hidden">Important:</span>
    <strong>
        Get exclusive deals and discounts today!
    </strong>
</p>
