<div class="links">
    <div class="tableOfContents">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#section1">Courses</a></li>
            <li><a href="#section2">Books</a></li>
            <li><a href="#section3">Movies</a></li>
            <li><a href="#section4">Travels</a></li>
            <li><a href="#section5">Blogs</a></li>
        </ul>
    </div>

    <div class="mt-5" id="section1">
        <h2>Courses</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Course 1</li>
            <li class="list-group-item">Course 2</li>
            <li class="list-group-item">Course 3</li>
        </ul>
        <p>
            You can see more about our courses <a href="#">here</a>
        </p>
    </div>

    <div id="section2">
        <h2>Books</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Book 1</li>
            <li class="list-group-item">Book 2</li>
            <li class="list-group-item">Book 3</li>
        </ul>
        <p>
            You can see more about our books <a href="#">here</a>
        </p>
    </div>

    <div id="section3">
        <h2>Movies</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Movie 1</li>
            <li class="list-group-item">Movie 2</li>
            <li class="list-group-item">Movie 3</li>
        </ul>
        <p>
            You can see more about our movies <a href="#">here</a>
        </p>
    </div>

    <div id="section4" class="mb-5">
        <h2>Travels</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Travel 1</li>
            <li class="list-group-item">Travel 2</li>
            <li class="list-group-item">Travel 3</li>
        </ul>
    </div>

    <div id="section5" >
        <h2>Blogs</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Blog 1</li>
            <li class="list-group-item">Blog 2</li>
            <li class="list-group-item">Blog 3</li>
        </ul>

        <div class="d-flex gap-2 mt-5">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                </svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-facebook">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
