<div class="links">
    <div class="tableOfContents">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#section1">Section 1</a></li>
            <li><a href="#section2">Section 2</a></li>
            <li><a href="#section3">Section 3</a></li>
            <li><a href="#section4">Section 4</a></li>
            <li><a href="#section5">Section 5</a></li>
        </ul>
    </div>

    <div class="mt-5">
        <h2 id="section1" tabindex="-1">Section 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat risus vitae elit euismod, nec rhoncus
            mauris
            consequat. Proin cursus sagittis massa, sed sollicitudin metus eleifend vitae.
            See more about <a href="#">our courses</a>
        </p>

    </div>

    <div>
        <h2 id="section2" tabindex="-1">Section 2</h2>
        <p>Nullam a efficitur metus. Phasellus in diam eu turpis lacinia egestas. Nunc rutrum odio eget odio laoreet, id
            dictum arcu pellentesque.
            See more about <a href="#">our books</a>
        </p>
    </div>

    <div>
        <h2 id="section3" tabindex="-1">Section 3</h2>
        <p>Vestibulum cursus lectus sit amet quam consequat, vitae iaculis dui venenatis. Sed eu nunc eget mauris
            iaculis
            varius.
            See more about <a href="#">our movies</a>
        </p>
    </div>

    <div>
        <h2 id="section4" tabindex="-1">Section 4</h2>
        <p>Vestibulum cursus lectus sit amet quam consequat, vitae iaculis dui venenatis. Sed eu nunc eget mauris
            iaculis
            varius.</p>
    </div>

    <div>
        <h2 id="section5" tabindex="-1">Section 5</h2>
        <p>Vestibulum cursus lectus sit amet quam consequat, vitae iaculis dui venenatis. Sed eu nunc eget mauris
            iaculis
            varius.</p>
        <div class="d-flex gap-2">
            <a href="#" aria-label="LinkedIn">
                <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                </svg>
            </a>
            <a href="#" aria-label="Facebook">
                <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-facebook">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
