<div class="zoom">
    <h2>Cards with fixed height</h2>

    <div class="d-flex gap-3 mt-4">

        <div class="fixed-card">
            <p>Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
        <div class="fixed-card">
            <p>Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
    </div>
    <hr>
    <h2>Font size using pixels and card with fixed height</h2>

    <div class="d-flex gap-3 mt-4">

        <div class="fixed-card">
            <p class="font-16">Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
        <div class="fixed-card">
            <p class="font-16">Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
    </div>

    <hr>
    <h2>Relative unit using REM and no fixed height</h2>

    <div class="d-flex gap-3 mt-4">

        <div class="card-zoom">
            <p>Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
        <div class="card-zoom">
            <p>Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
    </div>


    <hr>
    <h2>Relative unit using vw and no fixed height</h2>

    <div class="d-flex gap-3 mt-4">

        <div class="card-zoom">
            <p class="font-vw">Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
        <div class="card-zoom">
            <p class="font-vw">Web accessibility ensures equal access and opportunity for people with disabilities. Accessible websites
                follow standards and guidelines to provide an inclusive user experience. Designing for accessibility
                benefits everyone and creates a more inclusive digital environment.</p>
        </div>
    </div>


</div>
