<div class="container accessibility-tree">
    <h1>Árvore de acessibilidade Divs passed!</h1>

    <img src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" alt="Cão beagle a tentar apanhar a bola no ar.">

    <button class="d-block">Registar conta</button>

    <div class="terms">
        <input type="checkbox" id="termos">
        <label for="termos">Aceitar termos em condições</label>
    </div>


    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a>
</div>
