<div class="accessibility-tree">
    <h1 class="page-title">Árvore de acessibilidade!</h1>

    <img class="image-a11y" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" alt="Cão beagle a tentar apanhar a bola no ar.">

    <button class="d-block register-account">Registar conta</button>

    <div class="terms">
        <input type="checkbox" id="termos">
        <label for="termos">Aceitar termos e condições</label>
    </div>


    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="wcag-page">Web Content Accessibility Guidelines (WCAG)</a>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/20SHvU2PKsM" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</div>

