<div class="accessibility-tree">
    <h2 class="page-title">Accessible Example</h2>

    <img class="image-a11y" src="https://www.reliablesoft.net/wp-content/uploads/2019/06/beagle-dog.jpg" alt="Beagle dog trying to catch the ball in the air.">

    <button class="d-block register-account">Create account</button>

    <div class="terms">
        <input type="checkbox" id="terms">
        <label for="terms">Accept terms and conditions</label>

    </div>

    <div class="d-flex align-items-center gap-4 mt-4">
        <label for="password" class="d-block">Password:</label>
        <input type="password" autocomplete="current-password" id="password" class="d-block">
    </div>

    <div class="d-flex align-items-center gap-4 mt-4">
        <label for="name" class="d-block">Name:</label>
        <input type="text" id="name" autocomplete="name" class="d-block">
    </div>



    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="wcag-page">Web Content Accessibility Guidelines (WCAG)</a>

    <h3 class="mt-5 ">An unordered list</h3>
    <ul class="list-style-none drinks">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>

    <div class="video mt-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/20SHvU2PKsM" title="Introduction to Web Accessibility and W3C Standards"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</div>

