<div class="tables">
    <h2>Table with one header</h2>
    <table>
        <caption>Movie Details</caption>
        <tbody>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Director</th>
            <th scope="col">Genre</th>

        </tr>
        <tr>
            <td>The Shawshank Redemption</td>
            <td>Frank Darabont</td>
            <td>Drama</td>
        </tr>
        <tr>
            <td>Inception</td>
            <td>Christopher Nolan</td>
            <td>Sci-Fi</td>
        </tr>
        <tr>
            <td>Pulp Fiction</td>
            <td>Quentin Tarantino</td>
            <td>Crime</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h2>Table with two headers</h2>
    <table>
        <caption>Movie Availability</caption>
        <tbody>
        <tr>
            <td></td>
            <th scope="col">Action</th>
            <th scope="col">Comedy</th>
            <th scope="col">Drama</th>
            <th scope="col">Sci-Fi</th>
            <th scope="col">Thriller</th>
        </tr>
        <tr>
            <th scope="row">9 am- 11 am</th>
            <td>Available</td>
            <td>Sold Out</td>
            <td>Available</td>
            <td>Sold Out</td>
            <td>Available</td>
        </tr>
        <tr>
            <th scope="row">11 am - 13 am</th>
            <td>Available</td>
            <td>Available</td>
            <td>Sold Out</td>
            <td>Available</td>
            <td>Sold Out</td>
        </tr>
        <tr>
            <th scope="row">13 am - 15 am</th>
            <td>Sold Out</td>
            <td>Available</td>
            <td>Available</td>
            <td>Sold Out</td>
            <td>Available</td>
        </tr>
        <tr>
            <th scope="row">15 am - 17 am</th>
            <td>Available</td>
            <td>Sold Out</td>
            <td>Sold Out</td>
            <td>Available</td>
            <td>Available</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h2>Table with two tier headers</h2>
    <table>
        <caption>Movie Production and Sales</caption>
        <col>
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <tr>
            <td rowspan="2"></td>
            <th colspan="2" scope="colgroup">Action</th>
            <th colspan="2" scope="colgroup">Comedy</th>
        </tr>
        <tr>
            <th scope="col">Produced</th>
            <th scope="col">Sold</th>
            <th scope="col">Produced</th>
            <th scope="col">Sold</th>
        </tr>
        <tr>
            <th scope="row">Avengers: Endgame</th>
            <td>500,000</td>
            <td>400,000</td>
            <td>200,000</td>
            <td>150,000</td>
        </tr>
        <tr>
            <th scope="row">Deadpool</th>
            <td>200,000</td>
            <td>180,000</td>
            <td>100,000</td>
            <td>80,000</td>
        </tr>
    </table>

</div>
