<div class="headings">
    <div class="border-bottom border-2 border-dark pb-3 h2">Mammals</div>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <div class="h3">Lions</div>
            <p>The king of the jungle, lions are majestic creatures known for their strength and leadership in their prides.</p>
        </div>
        <div class="col-md-4">
            <div class="h3">Elephants</div>
            <p>These gentle giants are the largest land mammals and exhibit remarkable intelligence and social behavior.</p>
        </div>
        <div class="col-md-4">
            <div class="h3">Giraffes</div>
            <p>With their long necks and unique spotted patterns, giraffes are fascinating animals that roam the African savannahs.</p>
        </div>
    </div>

    <div class="border-bottom border-2 border-dark mt-5 pb-3 h2">Birds</div>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <div class="h3">Eagles</div>
            <p>Eagles are magnificent birds of prey, known for their keen eyesight, soaring abilities, and powerful hunting skills.</p>
        </div>
        <div class="col-md-4">
            <div class="h3">Hummingbirds</div>
            <p>These tiny birds captivate with their vibrant colors and astonishing agility, often appearing to hover in mid-air.</p>
        </div>
    </div>

    <div class="border-bottom border-2 border-dark mt-5 pb-3 h2">Reptiles</div>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <div class="h3">Turtles</div>
            <p>With their protective shells, turtles have been around for millions of years, representing longevity and resilience.</p>
        </div>
        <div class="col-md-4">
            <div class="h3">Snakes</div>
            <p class="border-bottom border-1 border-dark mt-5 pb-3">They are carnivores, with long narrow bodies and no legs. There are at least 20 families, about 500 genera and 3,400 species of snake.</p>
            <div class="h4">Boa Constrictors</div>
            <p>Boa constrictors are non-venomous snakes that use their muscular bodies to constrict and overpower their prey.</p>
            <div class="h4">Rattlesnakes</div>
            <p>Rattlesnakes possess a distinctive rattle on their tail, warning potential threats with its characteristic sound.</p>
        </div>
    </div>
</div>


