<div class="headings">
    <h2 class="border-bottom border-2 border-dark pb-3">Mammals</h2>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <h3>Lions</h3>
            <p>The king of the jungle, lions are majestic creatures known for their strength and leadership in their prides.</p>
        </div>
        <div class="col-md-4">
            <h3>Elephants</h3>
            <p>These gentle giants are the largest land mammals and exhibit remarkable intelligence and social behavior.</p>
        </div>
        <div class="col-md-4">
            <h3>Giraffes</h3>
            <p>With their long necks and unique spotted patterns, giraffes are fascinating animals that roam the African savannahs.</p>
        </div>
    </div>

    <h2 class="border-bottom border-2 border-dark mt-5 pb-3">Birds</h2>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <h3>Eagles</h3>
            <p>Eagles are magnificent birds of prey, known for their keen eyesight, soaring abilities, and powerful hunting skills.</p>
        </div>
        <div class="col-md-4">
            <h3>Hummingbirds</h3>
            <p>These tiny birds captivate with their vibrant colors and astonishing agility, often appearing to hover in mid-air.</p>
        </div>
    </div>

    <h2 class="border-bottom border-2 border-dark mt-5 pb-3">Reptiles</h2>
    <div class="row mt-3 ">
        <div class="col-md-4">
            <h3>Turtles</h3>
            <p>With their protective shells, turtles have been around for millions of years, representing longevity and resilience.</p>
        </div>
        <div class="col-md-4">
            <h3>Snakes</h3>
            <p>They are carnivores, with long narrow bodies and no legs. There are at least 20 families, about 500 genera and 3,400 species of snake.</p>
            <h4>Boa Constrictors</h4>
            <p>Boa constrictors are non-venomous snakes that use their muscular bodies to constrict and overpower their prey.</p>
            <h4>Rattlesnakes</h4>
            <p>Rattlesnakes possess a distinctive rattle on their tail, warning potential threats with its characteristic sound.</p>
        </div>
    </div>
</div>
