<div class="focus-management">
    <div class="paragraph-section">
        <p>I am a paragraph that doesn't receive any focus</p>
        <p tabindex="0">I am a paragraph that receives focus</p>
        <p tabindex="-1" id="negativeTabindex">I am a paragraph programmatically focused</p>
        <p tabindex="1">I am a paragraph that receives focus first</p>
        <button class="btn-yellow" onclick="document.getElementById('negativeTabindex').focus()">Send focus to tabindex -1</button>
    </div>

    <hr/>

    <h2>Redundant attribute</h2>
    <div class="d-flex align-items-center mt-4">
        <div class="me-5">
            <button type="button" tabindex="0" class="btn-yellow">Button with tabindex 0</button>
        </div>
        <div class="me-5">
            <a href="#" tabindex="0">Link with tabindex 0</a>
        </div>
    </div>
    <hr/>
</div>



