<div>
    <button class="btn-yellow" id="menu-button">Menu</button>
</div>

<div class="panel-aria-expanded d-none" id="panel-options">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">About</a></li>
        <li class="list-group-item"><a href="#">Courses</a></li>
        <li class="list-group-item"><a href="#">Location</a></li>
    </ul>
</div>

<script>
    const menuItem =  document.getElementById('menu-button');
    document.getElementById('menu-button').addEventListener('click', ()=> {
        //const expanded = menuItem.getAttribute("aria-expanded");
        //expanded === "true" ? menuItem.setAttribute("aria-expanded", "false") : menuItem.setAttribute("aria-expanded", "true");
        document.getElementById('panel-options').classList.toggle('d-none');

    })
</script>
