<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{title}}}</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel='stylesheet' href='/css/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.accesslint.com/a11y-logger-0.1.0.js"></script>

</head>
<body>

<div class="container mt-5 mb-5">

    <div class="text-center fake-h1">{{{title}}}</div>

    {{#unless isHomepage }}
        {{#if breadcrumb }}
            {{> breadcrumb}}
        {{/if}}
    {{/unless}}


    <div class="accessibility-tree">
        <div class="page-title">Needs Accessibility Enhancement</div>

        <div class="image-decorative"></div>
        <div class="d-block register-account">Create account</div>

        <div class="custom-checkbox" tabindex="0">
            Accept terms and conditions
        </div>

        <div class="d-flex align-items-center gap-4 mt-4">
            <span class="d-block">Password:</span>
            <input type="password" autocomplete="current-password" class="d-block">
        </div>

        <div class="d-flex align-items-center gap-4 mt-4">
            <span class="d-block">Name:</span>
            <input type="text" autocomplete="name" class="d-block">
        </div>

        <div onclick="window.location = 'https://www.w3.org/WAI/standards-guidelines/wcag/'" class="wcag-page">Web Content
            Accessibility Guidelines (WCAG)
        </div>

        <p class="mt-5 mb-0 page-title">An unordered list</p>
        <span class="list-style-none drinks">
        <span class="d-block">Coffee</span>
        <span class="d-block">Tea</span>
        <span class="d-block">Milk</span>
    </span>


        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/20SHvU2PKsM?rel=0" title="Introduction to Web Accessibility and W3C Standards"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <script>
        (function () {
            const checkboxes = document.querySelectorAll('.custom-checkbox');

            checkboxes.forEach(check => {
                check.addEventListener('click', function () {
                    const classList = this.classList.contains('active');
                    classList ? this.classList.remove('active') : this.classList.add('active');
                });

                check.addEventListener('keydown', function (e) {
                    if (e.keyCode === 32) e.preventDefault();
                });

                check.addEventListener('keyup', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if (e.keyCode === 32) {
                        const classList = this.classList.contains('active');
                        classList ? this.classList.remove('active') : this.classList.add('active');
                    }
                });
            })
        })()
    </script>


    {{> notesAccordion}}

    <p class="d-none" id="open_new_window">Open in a new window</p>

    <script src="/js/main.js"></script>
</div>
{{{modal}}}
<div class="container border-top border-dark d-sm-flex justify-content-between align-items-center pt-3">

    <p class="text-center">
        {{#unless isHomepage }}
            <a href="/" class="d-block">Home</a>
        {{/unless}}
    </p>

    <div class="d-flex align-items-center fake-footer">
        <p>© Rafael Coelho, 2024</p>
        <p>
            <a href="https://www.linkedin.com/in/rafael-coelho-446869110/" rel="me" class="ms-3 p-3"
               target="_blank" aria-describedby="open_new_window">
                <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 0 448 512" aria-hidden="true"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#166EBE" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                <span class="visually-hidden">
                  LinkedIn: Rafael Coelho
                </span>
            </a>
        </p>
    </div>
</div>
</body>

</html>




