<div class="content-order">
    <div>
        <h2>Natural Order</h2>
        <ul class="mt-4">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </div>
    <hr>
    <div>
        <h2>Visually changed order with flex-column-reverse</h2>
        <ul class="d-flex flex-column-reverse mt-4 mb-4">
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </div><hr>
    <div>
        <h2>Order changed visually with css order </h2>
        <!--<ul class="d-flex gap-4 mt-4">
            <li><a href="#">Home</a></li>
            <li class="order-4"><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
        </ul>-->
    </div>
    <div class="d-flex align-items-center mt-5">
        <div class="card">
            <form>
                <button class="btn-yellow">Submit</button>
                <div class="line line-1">
                    <label for="input-1">Profession:</label>
                    <input id="input-1" type="text">
                </div>
                <div class="line line-2">
                    <label for="input-2">Address:</label>
                    <input id="input-2" type="text">
                </div>
                <div class="line line-3">
                    <label for="input-3">Name:</label>
                    <input id="input-3" type="text">
                </div>
            </form>
        </div>
    </div>

    <hr>
    <div class="recipe">
        <h2>Chocolate Chip Cookies</h2>
        <h3>Instructions:</h3>
        <ul class="d-flex flex-column-reverse">
            <li>Bake for 10-12 minutes.</li>
            <li>Drop spoonfuls of cookie dough onto a baking sheet.</li>
            <li>Fold in the chocolate chips.</li>
            <li>Gradually add the flour and mix until combined.</li>
            <li>In a mixing bowl, cream the butter and sugar together.</li>
            <li>Preheat the oven to 350°F.</li>
        </ul>
    </div>
</div>
