<section class="container mt-4 focus-management">
    <div class="options">
        <ul class="mb-4">
            <li><a href="#">Home</a></li>
            <li><a href="#" tabindex="-1">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Produtos</a></li>
        </ul>

        <hr/>

        <ul class="mt-4 mb-4">
            <li><a href="#" tabindex="3">Home</a></li>
            <li><a href="#" tabindex="1">Sobre</a></li>
            <li><a href="#" tabindex="-1">Serviços</a></li>
            <li><a href="#" tabindex="2">Produtos</a></li>
        </ul>
    </div>


</section>

