<section class="container m-5 focus-management">
    Ter um link para cada secção talvez, basicamente ter uma lista com as várias opções para o focus e depois ter
    secções individualuzadas.

    <div class="options">
        <ul class="mb-4">
            <li><a href="#">Home</a></li>
            <li><a href="#" tabindex="-1">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Produtos</a></li>
        </ul>

        <hr/>

        <ul class="flex-row-reverse mt-4 mb-4">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Produtos</a></li>
        </ul>

        <hr/>

        <ul class="mt-4 mb-4">
            <li><a href="#" tabindex="3">Home</a></li>
            <li><a href="#" tabindex="1">Sobre</a></li>
            <li><a href="#" tabindex="-1">Serviços</a></li>
            <li><a href="#" tabindex="2">Produtos</a></li>
        </ul>
    </div>
    <div>
        <p tabindex="0">Sou um parágrafo que recebe focus incorretamente</p>
        <p tabindex="-1">Sou um parágrafo que recebe focus por javascript</p>
        <p>Sou um parágrafo quem não recebe nenhum focus</p>
    </div>

    <hr/>

    <div class="d-flex align-items-center">
        <div class="me-5">
            <button type="button" tabindex="0" class="btn-yellow">Botão com tabindex 0</button>
        </div>
        <div class="me-5">
            <a href="#">Hiperligação com tabindex 0</a>
        </div>
        <div class="bad-dropdown">
            <button aria-haspopup="true" aria-expanded="false" id="bad_dropdown_btn" type="button"
                    class="btn-yellow">Dropdown
            </button>
            <ul class="dropdown-content" id="bad_dropdown_content">
                <li><a href="#" class="option-dropdown">Option 1</a></li>
                <li><a href="#" class="option-dropdown">Option 2</a></li>
                <li><a href="#" class="option-dropdown">Option 3</a></li>
            </ul>
        </div>
    </div>

    <hr/>
    Propriedade order
    <div class="d-flex align-items-center justify-content-center">
        <div class="card">
            <form>
                <button>Submit</button>
                <div class="line line-1">
                    <label for="input-1">Profissão:</label>
                    <input id="input-1" type="text">
                </div>
                <div class="line line-2">
                    <label for="input-2">Morada:</label>
                    <input id="input-2" type="text">
                </div>
                <div class="line line-3">
                    <label for="input-3">Nome:</label>
                    <input id="input-3" type="text">
                </div>
            </form>
        </div>
    </div>

    Modal?
    Meter só uma modal com texto e depois ter um fechar como imagem, para falar do keyboard trap

    <button class="modal-toggle">Open Modal</button>

    <div class="modal-1" role="dialog" aria-modal="true" aria-labelledby="title-modal">
        <h1 class="title-modal"> Adicionar dados pessoais</h1>
        <div class="d-flex flex-column gap-3">
        <div class="field">
            <label for="fullname">Nome Completo</label>
            <input id="fullname" type="text">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text">
        </div>
        <button id="signup">Registar</button>
        </div>
    </div>

    <div class="modal-overlay"></div>
</section>

<script>
    (function () {
        const dropdown = document.getElementById("bad_dropdown_btn");
        const dropdownContent = document.getElementById("bad_dropdown_content");

        dropdown.addEventListener('click', function () {
            const expanded = this.getAttribute("aria-expanded");
            expanded === "true" ? this.setAttribute("aria-expanded", "false") : this.setAttribute("aria-expanded", "true");
            dropdownContent.classList.toggle("open");
        });
    })()
</script>
