<div class="container focus-management focus-outline">
    <p class="mt-4">Se estivermos a usar o rato e perdermos a noção de que elemento está selecionado, a qualquer momento
        podemos clicar numa tecla para que o indicador de focus apareça.</p>
    <ul class="mt-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
    </ul>
    <hr>
    <button class="btn-yellow">Sou um botão</button>
    <div class="mt-4">
        <label for="input">Input</label>
        <input type="text" id="input">
    </div>
    <div class="mt-4">
        <label><input type="checkbox">Checkbox</label>
    </div>
    <div tabindex="0" class="mt-4"><code>tabindex="0"</code></div>
    <div class="mt-4">
        <label>seleciona uma opção da dropdown:
            <select>
                <option>Livro 1</option>
                <option>Livro 2</option>
                <option>Livro 3</option>
            </select>
        </label>
    </div>

</div>
