<div class="container focus-management">
    <ul class="mt-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
    </ul>
    <hr>
    <button class="btn-yellow">Sou um botão</button>
</div>
