<div class="focus-management focus-outline">
    <ul class="mt-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
    </ul>
    <hr>
    <button class="btn-yellow">I am a button</button>
    <div class="mt-4">
        <label for="input">Input</label>
        <input type="text" id="input">
    </div>
    <div class="mt-4">
        <label><input type="checkbox">Checkbox</label>
    </div>
    <div class="mt-4">
        <label>Select one dropdown option:
            <select>
                <option>Book 1</option>
                <option>Book 2</option>
                <option>Book 3</option>
            </select>
        </label>
    </div>

</div>
