<section class="container mt-4 focus-management">
    <div class="options">
        <ul class="mb-4">
            <li><a href="#">Home</a></li>
            <li><a href="#" tabindex="-1">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Produtos</a></li>
        </ul>

        <hr/>

        <ul class="mt-4 mb-4">
            <li><a href="#" tabindex="3">Home</a></li>
            <li><a href="#" tabindex="1">Sobre</a></li>
            <li><a href="#" tabindex="-1">Serviços</a></li>
            <li><a href="#" tabindex="2">Produtos</a></li>
        </ul>
    </div>

    Propriedade order
    <div class="d-flex align-items-center justify-content-center">
        <div class="card">
            <form>
                <button>Submit</button>
                <div class="line line-1">
                    <label for="input-1">Profissão:</label>
                    <input id="input-1" type="text">
                </div>
                <div class="line line-2">
                    <label for="input-2">Morada:</label>
                    <input id="input-2" type="text">
                </div>
                <div class="line line-3">
                    <label for="input-3">Nome:</label>
                    <input id="input-3" type="text">
                </div>
            </form>
        </div>
    </div>

    Modal?
    Meter só uma modal com texto e depois ter um fechar como imagem, para falar do keyboard trap

    <button class="modal-toggle">Open Modal</button>

    <div class="modal-1" role="dialog" aria-modal="true" aria-labelledby="title-modal">
        <h1 class="title-modal"> Adicionar dados pessoais</h1>
        <div class="d-flex flex-column gap-3">
        <div class="field">
            <label for="fullname">Nome Completo</label>
            <input id="fullname" type="text">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text">
        </div>
        <button id="signup">Registar</button>
        </div>
    </div>

    <div class="modal-overlay"></div>
</section>

