<div class="container">
    <ul class="mt-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
    </ul>
    <hr>
    <p>Sou um simples parágrafo</p>
    <div>Sou uma simples DIV</div>
</div>
