<div class="m-4">
    <h2 tabindex="-1">{{h2_title}}</h2>
    <p>Lorem ipsum dolor sit amet. Aut temporibus architecto qui distinctio asperiores et voluptatem debitis. Vel rerum asperiores sit exercitationem perspiciatis id culpa beatae. Quo obcaecati cumque est magnam voluptas hic ipsam quia a quidem consequatur!
        Qui omnis sunt rem itaque placeat ea consectetur enim cum magnam libero. In quisquam fugiat et voluptatem delectus ut eius iusto et libero eius in dolores recusandae est cumque ullam.
        Aut aperiam quod qui repudiandae facilis ut eligendi fuga qui tempora nulla eum doloremque galisum aut mollitia illo eum quos minus? Ex galisum magnam et repellat vitae eum suscipit quaerat sed quia dicta in illum blanditiis vel blanditiis sequi.
    </p>
</div>
