<div class="focus-management">
    <div>
        <p>Sou um parágrafo quem não recebe nenhum focus</p>
        <p tabindex="">Sou um parágrafo que recebe focus incorretamente</p>
        <p>Sou um parágrafo que recebe focus por javascript</p>
        <p>Sou um parágrafo que recebe focus um primeiro lugar</p>
        <button class="btn-yellow">Botão</button>
    </div>

    <hr/>

    <div class="d-flex align-items-center">
        <div class="me-5">
            <button type="button" tabindex="0" class="btn-yellow">Botão com tabindex 0</button>
        </div>
        <div class="me-5">
            <a href="#" tabindex="0">Hiperligação com tabindex 0</a>
        </div>
    </div>

    <hr/>
</div>



