<div class="container focus-management tab-index-example">
    <div class="wrapper">
        <nav id="side-nav">
            <ul class="mt-4">
                <li><a href="#" onclick="loadContent('focus-management/about')" >Sobre</a></li>
                <li><a href="#" onclick="loadContent('focus-management/contact')">Contactos</a></li>
            </ul>
        </nav>
        <div id="content">

        </div>
    </div>
</div>

<script>
    function loadContent(page) {
        fetch('/' + page)
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Error: ' + response.status);
                    }
                    return response.text();
                })
                .then(function(content) {
                    document.getElementById('content').innerHTML = content;
                    const heading = document.querySelector("h2");
                    setTimeout(function(){
                        /* move focus to the heading after a delay of half second */
                        heading.focus();
                    }, 500);
                })
                .catch(function(error) {
                    console.error('Request failed:', error);
                });
    }
    loadContent('focus-management/about');
</script>
